# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
data:
  EVENT_SUBSCRIPTION: '{{ .Values.config_maps.event_subscription }}'
  SUBSCRIBER_PARALLEL_PULL_COUNT: "4"
  SUBSCRIBER_FLOW_CONTROL_MAX_OUTSTANDING_MESSAGES: "200"
  SUBSCRIBER_THREADS: "70"
  METRICS_TOPIC: '{{ .Values.config_maps.metrics_topic }}'
  PUBLISHER_THREADS: "4"
  PUBLISHER_BATCH_SIZE: "200"

kind: ConfigMap
metadata:
  namespace: '{{ .Values.namespace }}'
  labels:
    app: subscriber
  name: '{{ .Values.project_id }}-subscriber-config-maps-{{ .Values.region }}'
